@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  background: #181719;
  color: #fff;
}

h1,
h2,
h3,
h5 {
  font-weight: 500;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}

nav.container {
  min-width: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

.nav-list {
  padding: 2px;
}

.nav-list.active {
  border-bottom: 2px solid #fff;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}
.hamburger {
  display: none;
}

.interior-visual {
  position: relative;
}

.interior-introduction {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
}

.interior-content p {
  padding: 30px 0;
  max-width: 35ch;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}
.read-more {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.interior-main-image {
  width: 100%;
}

.interior-designer-card {
  background: #181719;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  position: absolute;
  bottom: -100px;
  right: 5%;
  padding: 15px;
  width: 410px;
}

.card-header {
  display: flex;
  align-items: center;
}

.designer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.description {
  max-width: 17ch;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top: 15px;
}

footer {
  padding: 100px 0 10px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 880px) {
  .logo {
    position: relative;
    z-index: 3;
  }
  .hamburger {
    display: initial;
    width: 30px;
    position: relative;
    z-index: 3;
  }

  .nav-links {
    background: #181719;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }

  .nav-links li {
    margin: 20px 0;
  }
}
