@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  background: #181719;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}

nav.container {
  min-width: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  list-style: none;
}

.nav-list {
  padding: 2px;
}

.nav-list.active {
  border-bottom: 2px solid #fff;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
}
